@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto" sans-serif;

}

h1,h2,h3,h4,h5,h6, strong {
  color: black;
}

p {
  font-size: 1rem; 
  line-height: 1.9rem;
}

p, span, label, input, textarea, li {
  color:#656d72 ;
}
a {
  text-decoration: none;

}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .main-container {
    width: 90%;
  }
}
/* Button */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid #f1f1f1;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:hover {
  box-shadow: black 0px 3px 5px;
}

/* End button */
/* title */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title {
  text-transform: uppercase;
  letter-spacing: .5rem ;
  color: #656d72;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;

}
.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #d9d9d9;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}
/* end title */

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}
/* end layout */

/* Logo dan navigation menu */
.nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}
.logo a {
color: black;
}

nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  color: black;
}
/* End Logo dan navigation menu  */

/* start Burger */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all .3s;
  z-index: 99;
}
.burger {
  display: None;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}
/* end burger */
/* hero section */
#hero {
  height: 720px ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
.hero-name span {
  color: #69defe;
}
.hero-right img {
  width: 100%;
}
.hero-right {
  display: flex;
  justify-content: center;
}
/* end hero section */

/* Service section */
#services {
  background-color: #fbfbfb;
  padding: 6rem 0;
}
.services .pre-title {
  margin: 0 auto;
}
.services-title {
  text-align: center;
}
.services {
  padding: 3rem 2rem;
  text-align: center;
  background: #afe8f2 ;
  border-radius: 2rem;
}
.services h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.5rem ;
}
.services-icon {
  background: #f1f1f1;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}
.services-icon svg {
  fill: #69defe;
}
/* Porfolio Section*/
#Portfolios {
  padding: 1rem;
}
.portfolio {
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid #fff;
}
.portfolio-cover {
  height: 250px;

}
.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.portfolio-info {
  padding: 2rem 1.5rem;
}
.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}
.portfolio-title a svg:hover{
  fill: #69defe;
}
.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}
.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.portfolio-tags div {
  font-size: .9rem;
  border: 1px solid #f1f1f1;
  padding: .4rem 1rem;
  color: #696d72;
}

/* start Skills dan Education  */
#skills{
  padding: 2rem 1.5rem;
  background:#d9d9d9;
}
.skills-grid {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.education {
  display: flex;
  gap: 2rem;
}
.education .line {
  padding: 0 .7rem;
}
.education .line div {
  width: 2px;
  height: 100%;
  background:#00eeff ;
  position: relative;
}
.education-info p {
  margin: 0.6rem 0 1.4rem;
}
.education-years { 
  margin-bottom: 3rem;
}
/* the dot on line */
.education-line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #69defe;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}
/* End of Skills dan Education  */

/* contact sesion */
#contact {
  padding: 2rem 3rem;
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 3rem;
}
.contact-form div {
  width: 100%;
  padding: .75rem 1.3rem;
  font-family: "Roboto",sans-serif;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 9px;
  resize: none;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: #f1efef ;
  border-radius: 5px;
  border: none;
  resize: none;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #c5c5c5;
}
.btn-submit {
  width: 100%;
  padding: .75rem 1.3rem;
  background-color: #00eeff ;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s ease in ease-in-out;
}
.btn-submit:hover {
  background: rgb(0, 140, 153);
}
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-item-icon {
  background: #def8fa;
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item-icon svg{
  fill:#028992 ;
}

/* end contact sesion */

/* Footer */
.footer {
  padding: 1rem 0;
  text-align: end;
  background: #daf9fb;
}

/* End OF Footer */